.idea/
.cursor/
.qoder/
.trae/
.pytest_cache/

__pycache__/ 
**/__pycache__/

*.egg-info/
dist/

deploy/data/
deploy/logs/
htmlcov/
rules/
markmap/
progress/
thirdparty/

# prd.md

*.log
logs/
**/logs/
.env

.coverage
coverage.xml

scan_structure.py
.DS_Store
**/.DS_Store